<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxjunkyard.ocr.repository.dao.mapper.RentalMapper">
    <insert id="addReservation" parameterType="java.util.List">
        insert into EquipmentReservations(
                                          equipment_id
                                          ,equipment_n
                                          ,event_id
                                          ,renter_id
                                          ,start_date
                                          ,end_date
                                          ,usage_date
                                          ,comment
                                          ,status
            ) values
                     <foreach collection="reservationList" item="rl" separator=",">
                     (
                                          #{rl.equipmentId}
                                          ,#{rl.equipmentN}
                                          ,#{rl.eventId}
                                          ,#{rl.renterId}
                                          ,#{rl.startDate}
                                          ,#{rl.endDate}
                                          ,#{rl.usageDate}
                                          ,#{rl.comment}
                                          ,0
                    )
                    </foreach>
    </insert>
    <insert id="addIncludeSportRental">
        insert into IncludeSportRental(event_id,sport_event_id)
        values((select max(ev.event_id) from Rental ev),#{sportRentalId})
    </insert>
    <insert id="addIncludeSportRental_old">
        insert into IncludeSportRental(event_id,sport_event_id)
        values((select auto_increment from information_schema.tables where table_schema = (select database()) and table_name = 'Rental'),#{sportRentalId})
    </insert>

    <select id="getReservationIdList" resultType="Integer">
        select distinct reservation_id
        from EquipmentReservations er
        left join Equipments eq
          on er.equipment_id = eq.equipment_id
        left join Owners ow
          on eq.owner_id = ow.owner_id
        where er.start_date = #{today} and ow.counter_id = #{counterId} and er.renter_id = #{renterId}
    </select>
    <select id="getRental" resultType="com.dxjunkyard.ocr.domain.RentalFlatten">
        select
               reservation_id as reservationId
            , equipment_id as equipmentId
            , equipment_n as equipmentN
            , event_id as eventId
            , renter_id as renterId
            , start_date as startDate
            , end_date as endDate
            , usage_date as usageDate
            , comment as comment
        from EquipmentReservations
        where reservation_id = #{reservationId}
    </select>

    <select id="getIncludedSportRental" resultType="com.dxjunkyard.ocr.domain.EquipmentRental">
        select
               se.sport_event_id as sportRentalId
             , se.name as name
             , se.comment as comment
        from SportRental as se
        left join IncludeSportRental as ise
            on se.sport_event_id = ise.sport_event_id
        where ise.event_id = #{event_id}
    </select>
</mapper>
